parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between ArrayAccess and ArrayAccess will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/AbstractTransport.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/AbstractTransport.php

		-
			message: '#^Instanceof between ArrayAccess and ArrayAccess will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http.php

		-
			message: '#^Instanceof between Joomla\\Uri\\UriInterface and Joomla\\Uri\\UriInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Http.php

		-
			message: '#^Instanceof between ArrayAccess and ArrayAccess will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/HttpFactory.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 2
			path: src/HttpFactory.php
